{% extends "base.html" %}
{% block title %}Acervo - Alexandria{% endblock %} 

{% block content %}
<!-- Insira os códigos específicos do acervo.html aqui -->
<table>
        
    <thead>
        <tr>
            <th>Nome Autor</th>
            <th>Nome do Livro</th>
            <th>Ano da Publicação</th>
            <th>Release</th>
            <th>Nota</th>
            <th>Páginas</th>
            <th>Imagem</th>
            <th>Link de Download</th>
            <th>Link de Compra</th>
            <th>Ações</th>
        </tr>
    
    </thead>
    <tbody>
        <tr>
            {% for book in book.items %}
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            

            <td>
                <a href="/deletar/{{book.id}}" type="text">Excluir</a>
            </td>

            <td>
                <a href="/editar-livro/{{book.id}}" type="text">Editar</a>
            </td>
            {%endfor%}
        </tr>
        
    </tbody>
</table>

 {% for page_num in book.iter_pages(left_edge=1, right_edge=1,
    left_current=2, right_current=2) %} {% if page_num %} {% if book.page ==
    page_num %}
    <a
      class=""
      href="{{ url_for('acervo', page=page_num) }}"
      >{{ page_num }}</a
    >
    {% else %}
    <a-
      class=""
      href="{{ url_for('acervo', page=page_num) }}"
      >{{ page_num }}</a-
    >
        {% endif %} 
        {% else %} 
        . . . 
        {% endif %} 
{% endfor %}


{% endblock %}