<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Página Inicial - Alexandria{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- main css -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>
    <button class="sidebar-toggle">
        <i class="fas fa-bars"></i>
    </button>

    <!-- header -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <a href="/"><img class="logo" src="../static/img/logo/alexandria_logo.png" alt="" /></a>
            <button type="button" class="close-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <!-- links -->
        <ul class="links">
            <li>
                <a href="{{ url_for('index') }}">Início<i class="fas fa-angle-right"></i></a>
            </li>
            <li>
                <a href="{{ url_for('acervo') }}">acervo<i class="fas fa-angle-right"></i></a>
            </li>
            <li>
                <a href="{{ url_for('cadastrar') }}">cadastrar<i class="fas fa-angle-right"></i></a>
            </li>
            <li>
                <a href="{{ url_for('sobre') }}">quem somos<i class="fas fa-angle-right"></i></a>
            </li>
        </ul>
    </aside>
    <!-- Aqui o Jinja2 vai automaticamente substituir o conteúdo 
pelo código nas páginas. -->
    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-wrapper">
        <img src="../static/img/logo/logo-branca.svg" alt="">
        <img src="../static/img/texto.svg" class="mensagem"alt="mensagem dos membros">
        <div class="footer-links">
            <div class="top-links"></div>
            <a href="/">inicio</a><span class="barra">|</span>
            <a href="/acervo">meu acervo</a><span class="barra">|</span>
            <a href="/sobre">sobre nós</a><span class="barra">|</span>
            <div class="midddle-links">
            <a href="#">contato</a><span class="barra">|</span>
            <a href="https://github.com/joaodath/projeto_alexandria">contribua no github</a>
        </div>
        <div class="bottom-links">
            <a href="">termos de uso</a><span class="barra">|</span>
            <a href="">politica de privacidade</a>
        </div>
        </div>
    </div>
    </footer>
    <!-- javascript -->
    <script src="../static/js/app.js"></script>
</body>

</html>