{% extends "base.html" %}
{% block title %}Acervo - Alexandria{% endblock %}

{% block content %}
<section class="card-center extra-margin">
    <!-- title -->
    <div class="parte-superior">
        <div class="titulo">
            <p>Bem vindes</p>
            <h1>Biblioteca do</h1>
        </div>
        <button class="btn-o">Editar</button>
    </div>
    <!-- bottom part -->
    <div class="card-wrapper">
        <!-- cards -->
        <!-- single card -->
        {%for b in book%}
        <article class="">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41L2ffvMKIL._SX342_SY445_QL70_ML2_.jpg" alt="">
            <h2>{{b.name}}</h2>
            <aside><p>{{b.author}}</p> <p>Ficção/Literatura/Romance</p></aside>
            <p class="descricao">{{b.synopsis}}</p>
            <span class="acoes"><a class="btn-o"href="/editar-livro/{{b.id}}">editar</a><a class="btn-o btn-transparent"href="">remover</a></span>
        </article>
        {%endfor%}
        <!-- card info -->
    </div>
    
</section>

{% endblock %}