{% extends "base.html" %}
{% block title %}Acervo - Alexandria{% endblock %}

{% block content %}
<section class="card-centerr extra-margin">
    <!-- title -->
    <div class="parte-superior">
        <div class="titulo">
            <p>Bem vinde</p>
            <h1>Biblioteca do</h1>
        </div>
        <a href="{{ url_for('editartudo') }}"><button class="btn-o">Editar</button></a>
    </div>
    <!-- bottom part -->
    <div class="card-wrapper">
        <!-- cards -->
        <!-- single card -->
        {%for b in book.items %}
        <article class="">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41L2ffvMKIL._SX342_SY445_QL70_ML2_.jpg" alt="">
            <h2>{{b.name}}</h2>
            <aside><p>{{b.author}}</p> <p>Ficção/Literatura/Romance</p></aside>
            <p class="descricao">{{b.synopsis}}</p>
            <span class="acoes"><a class="btn-o"href="/detalhelivro/{{b.id}}">ver mais</a></span>
            <!-- <span class="acoes"><a class="btn-o"href="/editar-livro/{{b.id}}">ver mais</a></span> -->
        </article>
        {%endfor%}
        <!-- card info -->
    </div>
    <div class="paginacao">
    {% for page_num in book.iter_pages(left_edge=1, right_edge=1,
        left_current=2, right_current=2) %} {% if page_num %} {% if book.page ==
        page_num %}
        
        <a class="" href="{{ url_for('acervo', page=page_num) }}">
            {{ page_num }}
        </a>
        {% else %}
        
        <a class="" href="{{ url_for('acervo', page=page_num) }}">
            {{ page_num }}
        </a>
            {% endif %} 
            {% else %} 
            . . . 
            {% endif %} 
    {% endfor %}
</div>
    
</section>



{% endblock %}