{% extends "base.html" %}
{% block title %}Editar livro - Alexandria{% endblock %} 

{% block content %}
<!-- Insira os códigos específicos do editar-livro.html aqui -->




<main class="white-bg">
    <section class="edit-section">
        <div class="book">
                {% if book.image != None %}
                    <img src="{{book.image}}" alt="">
                {% else %}
                    <img src="../static/img/placeholder_biblioteca.png" alt="">
                {% endif %}
            <p class="genres">Lorem/ipsum/dolor</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aut doloremque aliquid iure
                architecto impedit qui praesentium et optio mollitia?</p>
        </div>
        <div class="form">
            <h3>editar livro</h3>
            <h1>{{book.name}}</h1>
            <form action="/editar-livro/{{book.id}}" method="POST">
                <label for="">Nome do Livro:</label>
                <input type="text" id="name-book" name="name-book" required value="{{book.name}}">
                <label for="">Autor:</label>
                <input type="text" id="name-author" name="name-author" required value="{{book.author}}">
                <label for="">Editora:</label>
                <input type="text" id="publisher" name="publisher" required value="{{book.publisher}}">
                <label for="">ISBN:</label>
                <input type="text" id="isbn" name="isbn" value="{{book.isbn}}">
                <label for="">Publicado em:</label>
                <input type="text" id="release" name="release" value="{{book.release_year}}">
                <label for="">Genero:</label>
                <input type="text" id="genre" name="genre" value="{{book.genre}}">
                <label for="">Paginas:</label>
                <input type="text" id="pages" name="pages" value="{{book.pages}}">
                <label for="">Imagem da Capa:</label>
                <input type="text" id="image" name="image" value="{{book.image}}">
                <!-- <label for="">Link Download:</label>
                <input type="text" id="download" name="download">
                <label for="">Link de Compra:</label>
                <input type="text" id="buy" name="buy"> -->
                <label for="description">Sinopse</label>
                <textarea name="synopsis"value="{{book.synopsis}}"></textarea>
    
                <div class="register-buttons"><button type="submit" class="btn-o"><a>salvar</a></button> <a href="/editartodos" class=" btn-o btn-transparent">cancelar</a></div>
            </form>
        </div>
        <div class="info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic itaque mollitia nemo aspernatur neque suscipit quibusdam ab similique cum quia!</p>
        </div>
    </section>
    </main>

{% endblock %}