<!-- Este é o novo index. Apague o index anterior e 
    renomeie este como index.html depois de mover as informações do anterior 
    para base.html  -->

{% extends "base.html" %}
{% block title %}Página Inicial - Alexandria{% endblock %} 

{% block content %}
<main>
    <!-- section to center items -->
    <section class="section-center">
      <div class="content">
        <video autoplay loop class="bg_video">
          <source src="../static/img/video.mp4" type="video/mp4"/>
        </video>
      </div>
      <!-- <article class="content-container">
                  <h1>Bem-Vindo</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex totam animi esse iste molestias vero reprehenderit eius maiores dolorum unde. </p>
                  <a href="" class="btn btn-content">Saiba Mais</a> -->
      <!-- <img src="foto-home.png" alt=""> -->
      <!-- </article> -->
    </section>
  </main>
{% endblock %}