<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title-primary">Login</h1>
            <p class="text-small">Bem-vindo de volta!</p>
            <form action="" method="POST" onsubmit="check_form()" class="form">

                <label  for="email">
                    <i class="far fa-envelope icon-modify"></i>
                    <input class="text required" type="email" placeholder="Email">
                </label>
            
                <label for="password">
                    <i class="fas fa-lock icon-modify"></i>
                    <input class="text required" type="password" placeholder="Password">
                </label>

                <button type="submit" class="btn-second">sign in</button>

            </form>

            <p class="text-small">Não tem uma conta ainda?</p>
            <a href="../templates/novo-usuario.html" class="links">Cadastro</a>

        </div>
    </div>
    <script src="../static/js/login.js"></script>
</body>
</html>

