<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h1 class="title title-primary">Login</h1>
                <p>Faça o login por aqui!</p>
                <button id="signin" class="btn btn-primary">sign in</button>
            </div>    
            <div class="second-column">
                <h1 class="title title-second">Crie sua conta</h1>
                <p>Insira suas informações aqui:</p>
                <form method="POST" onsubmit="return check_form()" class="form">
                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify"></i>
                        <input class="text required" type="text" placeholder="Name">
                    </label>
                    
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input class="text required" type="email" placeholder="Email">
                    </label>
                    
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input class="text required" type="password" placeholder="Password">
                    </label>
                    
                    <button type="submit" class="btn btn-second">sign up</button>        
                </form>
            </div>
        </div>
        <div class="content second-content">
            <div class="first-column">
                <h1 class="title title-primary">Cadastre-se</h1>
                <p>Faça o cadastro por aqui!</p>
                <button id="signup" class="btn btn-primary">sign up</button>
            </div>
            <div class="second-column">
                <h1 class="title title-second">Login</h1>
                <p>Insira seu email e senha:</p>
                <form method="POST" onsubmit="check_form_log()" class="form">
                
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input class="text required_log" type="email" placeholder="Email">
                    </label>
                
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input class="text required_log" type="password" placeholder="Password">
                    </label>

                    <button type="submit" class="btn btn-second">sign in</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/js/login.js"></script>
</body>
</html>
