{% extends "base.html" %}
{% block title %}Cadastrar novo livro - Alexandria{% endblock %}

{% block content %}
<main class="white-bg">
<section class="edit-section">
    <div class="book">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41L2ffvMKIL._SX342_SY445_QL70_ML2_.jpg" alt="">
        <p class="genres">Lorem/ipsum/dolor</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aut doloremque aliquid iure
            architecto impedit qui praesentium et optio mollitia?</p>
    </div>
    <div class="form">
        <h3>editar livro</h3>
        <h1>Nome do livro</h1>
        <form action="/registrarlivro" method="POST">
            <label for="">Nome do Livro:</label>
            <input type="text" id="name-book" name="name-book">
            <label for="">Autor:</label>
            <input type="text" id="name-author" name="name-author">
            <label for="">Editora:</label>
            <input type="text" id="publisher" name="publisher">
            <label for="">ISBN:</label>
            <input type="text" id="isbn" name="isbn">
            <label for="">Publicado em:</label>
            <input type="text" id="release" name="release">
            <label for="">Genero:</label>
            <input type="text" id="genre" name="genre">
            <label for="">Paginas:</label>
            <input type="text" id="pages" name="pages">
            <label for="">Image da Capa:</label>
            <input type="text" id="image" name="image">
            <label for="">Link Download:</label>
            <input type="text" id="download" name="download">
            <label for="">Link de Compra:</label>
            <input type="text" id="buy" name="buy">
            <label for="description">Sinopse</label>
            <textarea></textarea>

            <div class="register-buttons"><a class="btn-o">salvar</a> <a href="" class=" btn-o btn-transparent">cancelar</a></div>
        </form>
    </div>
    <div class="info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic itaque mollitia nemo aspernatur neque suscipit
            quibusdam ab similique cum quia!</p>
    </div>
</section>
</main>
{% endblock %}