<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Livro</title>
</head>
<body>
    <form action="/registrarlivro" method="POST">
        <label for="">Nome Autor:</label>
        <input type="text" id="author" name="author">
        <label for="">Nome do Livro:</label>
        <input type="text" id="book" name="book">
        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>