{% extends "base.html" %}
{% block title %}Cadastrar novo livro - Alexandria{% endblock %}

{% block content %}

    <div>
    

        {% if book %}
        <div class="alert alert-success" role="alert">
            A simple success alert with <a href="/detalhelivro/{{book.id}}" class="alert-link">an example link</a>. Give it a click if you like.
          </div>
        {%endif%}

    </div>
<main class="white-bg">
    

<section class="edit-section">
    <div class="book">
        <img src="../static/img/placeholder_cadastro.png" alt="">
        <p class="genres">Lorem/ipsum/dolor</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aut doloremque aliquid iure
            architecto impedit qui praesentium et optio mollitia?</p>
    </div>
    <div class="form register">
        <h1 class="cadastrar">Cadastrar Livro</h1>
        <form action="/cadastrar" method="POST">
            <label for="">Nome do Livro:</label>
            <input type="text" id="name-book" name="name-book" required>
            <label for="">Autor:</label>
            <input type="text" id="name-author" name="name-author" required>
            

            <div class="register-buttons"><button type="submit" class="btn-o slide"><a>salvar</a></button> <a href="/acervo" class=" btn-o btn-transparent">cancelar</a></div>
        </form>
    </div>
</section>
</main>
{% endblock %}