@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* colors */
    --primary-main: #a64511;
    --black: #000;
    --beige: #e4d9c8;
    /* rest of the colors */
    --white: #fff;
    /* fonts  */
    --body-font: "Roboto Slab", serif;
    /* rest of the vars */
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.75;
}
h1 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 3.052rem;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--font-heading);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: var(--primary-main);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: var(--beige);
}
.title-second {
    color: var(--primary-main);
}
.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: var(--primary-main);
}
.btn-second {
    background-color: var(--primary-main);
    border: 1px solid var(--primary-main);
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid var(--primary-main);
    color: var(--primary-main);
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/
.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}
.sign-in-js .first-content .first-column {
    z-index: -1;
}
.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}
.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s; 
    z-index: 12;
}
.sign-up-js .content::before {
    animation: slideout 1.3s;
    z-index: 12;
}
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}
.sign-up-js .first-content .second-column {
    z-index: 11;
}
.sign-up-js .first-content .first-column {
    z-index: 13;    
}
/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; 
}
.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; 
}
/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/
@keyframes deslocamentoEsq {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25% {
        left: -80px;
        opacity: .5;
    }
    50% {
        left: -100px;
        opacity: .2;
    }
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes deslocamentoDir {
    from {
        left: 0;
        z-index: 12;
    }
    25% {
        left: 80px;
    }
    50% {
        left: 100px;
    }
    to {
        left: 110px;
        z-index: -1;
    }
}
/*ANIMAÇÃO CSS*/
@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }
    25% {
        left: 5%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}
@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 45%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 50%;
    }
    to {
        left: 0;
        width: 40%;
    }
}
/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }
    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content, .second-content {
        flex-direction: column;
        justify-content: space-around;
    }
    .first-column, .second-column {
        width: 100%;
    }
    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;
    }
    .form {
        width: 90%;
    }
    /* ANIMAÇÃO MOBILE CSS*/
    @keyframes deslocamentoEsq {
        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
        25% {
            top: -80px;
            opacity: .5;
        }
        50% {
            top: -100px;
            opacity: .2;
        }
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    @keyframes deslocamentoDir {
        from {
            top: 0;
            z-index: 12;
        }
        25% {
            top: 80px;
        }
        50% {
            top: 100px;
        }
        to {
            top: 110px;
            z-index: -1;
        }
    }
    @keyframes slidein {
        from {
            top: 0;
            height: 40%;
        }
        25% {
            top: 5%;
            height: 50%;
        }
        50% {
            top: 25%;
            height: 60%;
        }
        75% {
            top: 45%;
            height: 50%;
        }
        to {
            top: 60%;
            height: 40%;
        }
    }
    @keyframes slideout {
        from {
            top: 60%;
            height: 40%;
        }
        25% {
            top: 45%;
            height: 50%;
        }
        50% {
            top: 25%;
            height: 60%;
        }
        75% {
            top: 5%;
            height: 50%;
        }
        to {
            top: 0;
            height: 40%;
        }
    }
}
@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}
@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}

